.chat-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.chat-window {
  height: 75vh;
  width: 50vw;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.chat-input-large-container {
  width: 100%;
  height: 100%;
}

.chat-messages-container {
  height: calc(100% - 3rem); /* the input box is 3rem tall */
  overflow-y: scroll;
  margin: -1rem;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2); /* Shadow at the bottom */
  transition: box-shadow 0.3s ease;
}

.chat-messages-container:hover {
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
}

.chat-messages-container::-webkit-scrollbar {
  display: none;
}

.chat-input-box {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  padding-bottom: .5rem;
}

.chat-input {
  width: 80vw;
  margin: .5rem;
}

.chat-page:focus {
  outline: none;
}
