body {
  margin: 0;
  font-family: Comfortaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Comfortaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.no-highlight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.center-of-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

:root {
  --primary-blue: #0084FF;
  --secondary-blue: #D3E9FF;
  --white: #FFFFFF;
}

.hide-scrollbar-y {
  scrollbar-width: none;
  -ms-overflow-style: none;
}